.timeline {
    position: relative;
    padding: 1rem 0;
}

.timeline-item {
    position: relative;
    padding-left: 3rem;
    padding-bottom: 2rem;

    &:last-child {
        padding-bottom: 0;
    }
}

.timeline-marker {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background: #3498db;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 2px #3498db;
}

.timeline-line {
    position: absolute;
    left: 7px;
    top: 16px;
    bottom: -2rem;
    width: 2px;
    background: #bdc3c7;
}

.timeline-content {
    h4 {
        margin: 0 0 0.25rem 0;
        font-size: 1rem;
        color: #2c3e50;
    }

    .timestamp {
        margin: 0;
        color: #7f8c8d;
        font-size: 0.875rem;
    }
}